body {
    background-color: var(--main) !important;
    margin: 0;
    padding: 0;
    color: white important;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
}

header {
    padding: 0;
    text-align: left;
    position: fixed;
    background-color: var(--main);
    width: 100%;
    z-index: 1000;
}

section {
    padding: 1em;
}

.footer {
    margin-top: 1em;
    padding-top: 1em;
    border-top: 1px solid rgba(255, 255, 255, 0.1);

}

/* cute green firefox scrollbar */
html {
  scrollbar-width: thin;
  scrollbar-color: #4b8a3c #172415;
}


/* cute green chrome/others scrollbar */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #172415;
}

::-webkit-scrollbar-thumb {
  background-color: #4b8a3c;
  border: 3px solid #172415;
  border-radius: 999px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #b4ce1f;
}