body {
    background-color: var(--main) !important;
    margin: 0;
    padding: 0;
    color: white important;
    justify-content: center;
    align-items: center;
}

header {
    padding: 0;
    text-align: left;
    position: fixed;
    background-color: var(--main);
    width: 100%;
    z-index: 1000;
}

section {
    padding: 1em;
}

.footer {
    margin-top: 1em;
    padding-top: 1em;
    border-top: 1px solid rgba(255, 255, 255, 0.1);

}


html,
body {
  /* cute green firefox scrollbar*/
  scrollbar-width: thin;
  scrollbar-color: #4b8a3c #172415;
}

/* cute green chrome/other scrollbar*/
html::-webkit-scrollbar,
body::-webkit-scrollbar {
  width: 12px;
  height: 0;
}

html::-webkit-scrollbar-track,
body::-webkit-scrollbar-track {
  background: #172415;
}

html::-webkit-scrollbar-thumb,
body::-webkit-scrollbar-thumb {
  background: #4b8a3c;
  border: 2px solid #172415;
  border-radius: 999px;
}

html::-webkit-scrollbar-thumb:hover,
body::-webkit-scrollbar-thumb:hover {
  background: #b4ce1f;
}

.banner-wrapper {
  width: 100%;
  max-width: 100vw;
  overflow: hidden;
}

.banner-text {
  display: flex;
  width: max-content;
  white-space: nowrap;
  margin: 0;
}

.banner-text span {
  display: inline-flex;
  align-items: center;
  flex-shrink: 0;
}