<h1 class="header1-txt text-center py-4">Connect With Us</h1>
<div class="container">
    <div class="d-flex justify-content-center gap-4">
        <a
            href="https://www.instagram.com/biomonash/?utm_source=ig_web_button_share_sheet"
            target="_blank">
            <i class="fab fa-instagram fa-2x" tabindex="0"></i>
        </a>
        <a
            href="https://www.linkedin.com/company/biological-observation-monash"
            target="_blank">
            <i class="fab fa-linkedin fa-2x" tabindex="0"></i>
        </a>
        <a href="mailto:biom@monash.edu" target="_blank">
            <i class="fas fa-envelope fa-2x" tabindex="0"></i>
        </a>
    </div>
</div>