
<header>

    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
            <a class="navbar-brand text-light" href="/">
                <img
                    src="{{ "images/BiOM-Logo.webp" | relURL }}"
                    alt="BiOM Logo"
                    style="width: 90px; height: auto" />
            </a>

            <div class="mx-auto d-flex">
                <a class="nav-link nav-text mx-3" href="#st-kilda">ST KILDA</a>
                <a class="nav-link nav-text mx-3"
                    href="#nillumbik">NILLUMBIK</a>
                <a class="nav-link nav-text mx-3" href="{{ "posts/" | relURL
                    }}">POSTS</a>
                <a class="nav-link nav-text mx-3" href="#donate">DONATE</a>
            </div>

            <a
                href="https://docs.google.com/forms/d/e/1FAIpQLSdpG9CNy_7ON8ZSbiKuBT7MQBOTzoKbmd_TGPA4p5bUOa2hBA/viewform"
                target="_blank"
                class="join-us-btn btn-style text-decoration-none nav-text mx-2">
                Join Us
            </a>
        </div>
    </nav>
</header>