<!doctype html>
<html lang="en">
  {{ partial "head.html" . }}

  <body>
    <!-- Header - this is the navigation bar at the top of the page -->
    {{ partial "navbar.html" . }}

    <main>

      <!-- Hero section -->
      <section id="home">
        <img
          src="{{ "images/logorec2.webp" }}"
          alt="BiOM Logo"
          class="main-logo fade-in-logo" />

        <div class="banner-wrapper" data-aos="fade-up">
          <p class="banner-text">
            <span>
              Student Powering the Future of Conservation &nbsp;
              <img
                src="{{ "images/green-flw.webp" | relURL }}"
                style="width: 48px" />
              &nbsp;
            </span>

            <span>
              Student Powering the Future of Conservation &nbsp;
              <img
                src="{{ "images/green-flw.webp" | relURL }}"
                style="width: 48px" />
              &nbsp;
            </span>

            <span>
              Student Powering the Future of Conservation &nbsp;
              <img
                src="{{ "images/green-flw.webp" | relURL }}"
                style="width: 48px" />
              &nbsp;
            </span>

            <span>
              Student Powering the Future of Conservation &nbsp;
              <img
                src="{{ "images/green-flw.webp" | relURL }}"
                style="width: 48px" />
              &nbsp;
            </span>
          </p>
        </div>
      </section>


      <!-- Who we are section -->
      <section
        id="main-info"
        class="justify-content-center align-items-center"
        data-aos="fade-appear">

        <img
          src="{{ "images/about-us.webp" | relURL }}"
          alt="BiOM Group Photo"
          class="group-photo" />

        <div class="p-5 mx-auto">
          <h1 class="header1-txt">Who we are</h1>

          <p class="body-txt p-3">
            BiOM (Biological Observation Monash) is a student-led team at the
            intersection of Conservation and Technology. We create innovative,
            accessible tools to support real-world environmental solutions.

            <br /><br />

            Bringing together students from
            <span class="sc subjects">science</span>,
            <span class="eng subjects">engineering</span> and
            <span class="cs subjects">computer science</span>.
            We design and prototype technologies for Ecological Monitoring —
            from Environmental Sensors to machine learning in the field.
          </p>
        </div>
      </section>


      <!-- Mission section -->
      <section
        id="mission"
        class="d-flex justify-content-center my-5"
        data-aos="zoom-in">

        {{ range where .Site.RegularPages "Section" "sections-card" }}
          {{ if eq .Title "Our Mission" }}
            {{ partial "home/section-card.html" . }}
          {{ end }}
        {{ end }}

      </section>


      <!-- Projects section -->
      <section id="projects" data-aos="fade-up">
        <h1 class="header1-txt">Projects</h1>

        {{ range where .Site.RegularPages "Section" "projects-card" }}
          {{ partial "home/project-card.html" . }}
        {{ end }}

      </section>


      <!-- Our Team section -->
      <!--
      <section id="team">

        <h1 class="header1-txt">Our Team</h1>

        <p class="body-txt">
          At BiOM, we believe that technology has the power to drive meaningful
          change for the planet. Our team brings together students from varying
          disciplines to develop tools that support conservation.
          <br /><br />
          Meet the students behind the mission…
        </p>

        <div id="members">

          <div id="team-lead">
            <h3 class="header1-txt">Danielle Kent</h3>
          </div>

          <div id="deputy-lead">
            <h3 class="header1-txt">Peter Cooper</h3>
          </div>

        </div>

      </section>
      -->


      <!-- Join Us section -->
      <section
        id="join-us"
        data-aos="fade-appear"
        class="py-5">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-8">

              {{ range where .Site.RegularPages "Section" "sections-card" }}
                {{ if eq .Title "Join Us Today" }}
                  {{ partial "home/section-card.html" . }}
                {{ end }}
              {{ end }}

            </div>
          </div>
        </div>

      </section>

      <!-- Donate section -->
      <section
        id="donate"
        class="d-flex justify-content-center my-5"
        data-aos="zoom-out">

        {{ range where .Site.RegularPages "Section" "sections-card" }}
          {{ if eq .Title "Support Our Mission" }}
            {{ partial "home/section-card.html" . }}
          {{ end }}
        {{ end }}

      </section>

      <!-- Video section -->
      <section>

        <h1
          class="header1-txt text-center"
          data-aos="fade-appear">
          Our journey
        </h1>

        <div class="ratio ratio-16x9">
          <iframe
            src="https://drive.google.com/file/d/1mxev1DmYMrx1Ak6z5Q7YigROlI0n4gJJ/preview"
            allow="autoplay"
            allowfullscreen>
          </iframe>
        </div>

      </section>


      <!-- Contact Us section -->
      <section
        id="contact"
        class="py-3"
        data-aos="fade-appear">

        {{ partial "contacts.html" . }}

      </section>

    </main>

    {{ partial "footer.html" . }}

  </body>
</html>
